* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 1 auto;
}


#game {
    display: grid;
    grid-template-rows: auto 1rem 1fr;
    
    gap: 1rem;
    justify-content: center;
}

#game > #board {
    display: grid;
    grid-template: 50px 50px 50px / 50px 50px 50px;
    gap: 1px;

    /* justify-content: center; */
}

#board > .square {
    display: grid;
    align-items: center;
    justify-content: center;
    /* background-color: transparent;
    border: 1px solid lightgrey; */
}

#board > .square:hover {
    border: 1px solid orange;
}

#players .active {
    border: 1px solid orange;
}

#outcome-text span {
    position: absolute;
}

#outcome-text {
    opacity: 1;
    transition: opacity 100ms;
}

#outcome-text.hidden {
    opacity: 0;
    transition: opacity 100ms;
}



.modal-widget {
    position: fixed;
    top: 0;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-widget .overlay {
    backdrop-filter: blur(3px) opacity(0);
    height: 0;
    width: 100vw;

    will-change: backdrop-filter;
    transition: backdrop-filter 400ms ease;
}

.modal-widget .overlay.active {
    backdrop-filter: blur(3px) opacity(1);
    height: 100vh;

    will-change: backdrop-filter;
    transition: backdrop-filter 400ms ease;
}

.modal-widget form {
    position: fixed;
    bottom: 105%;

    will-change: bottom;
    transition: bottom 100ms ease-out;
}

.modal-widget form.active {
    bottom: 60vh;

    will-change: bottom;
    transition: bottom 150ms ease-in;
}