:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    --blue: rgb(37, 99, 234);
    --lightblue: rgb(53, 108, 227);
    --darkblue: rgb(24, 90, 234);
    --lightgrey: rgb(250, 250, 250);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--lightgrey);
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.page-width {
    width: 600px;
}

main {
    flex: 1 1 auto;

    display: flex;
    justify-content: center;

    padding: 2rem 0;
}

footer {
    display: flex;
    justify-content: center;

    background-color: var(--lightgrey);
    padding: 2rem 0;
}

footer a {
    text-decoration: none;
}


#game {
    display: grid;
    grid-template-rows: auto 1rem 1fr;
    
    gap: 1rem;
    justify-content: center;
}

#game > #board {
    display: grid;
    grid-template: 50px 50px 50px / 50px 50px 50px;
    gap: 1px;

    /* justify-content: center; */
}

#board > .square {
    display: grid;
    align-items: center;
    justify-content: center;
    /* background-color: transparent;
    border: 1px solid lightgrey; */
}

#board > .square:hover {
    border: 1px solid orange;
}

#players .active {
    border: 1px solid orange;
}

#outcome-text span {
    position: absolute;
}

#outcome-text {
    opacity: 1;
    transition: opacity 100ms;
}

#outcome-text.hidden {
    opacity: 0;
    transition: opacity 100ms;
}



.modal-widget {
    position: fixed;
    top: 0;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-widget .overlay {
    backdrop-filter: blur(3px) opacity(0);
    height: 0;
    width: 100vw;

    will-change: backdrop-filter;
    transition: backdrop-filter 400ms ease;
}

.modal-widget .overlay.active {
    backdrop-filter: blur(3px) opacity(1);
    height: 100vh;

    will-change: backdrop-filter;
    transition: backdrop-filter 400ms ease;
}

.modal-widget form {
    position: fixed;
    bottom: 105%;

    will-change: bottom;
    transition: bottom 100ms ease-out;
    
    box-shadow: 2px 2px 3px 3px rgb(245, 245, 245);
    border-radius: 5px;
    background-color: #ffffff;
    padding: 2rem;
}

.modal-widget form.active {
    bottom: 60vh;

    will-change: bottom;
    transition: bottom 150ms ease-in;
}

.modal-widget form {
    display: grid;
    grid-template-rows: auto auto;
    gap: 1rem;

    border: none;
}

.modal-widget form ul {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 1rem;

    list-style: none;
    align-items: center;
}

.modal-widget form input {
    appearance: none;
    font-size: 1rem;
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid grey;
}


.modal-widget form button {
    height: 44px;
    width: 100%;

    background-color: var(--blue);
    border: none;
    color: #ffffff;
    border-radius: 5px;
    font-size: 1rem;
}

.modal-widget form button:hover {
    background-color: var(--lightblue);   
}

.modal-widget form button:active {
    background-color: var(--darkblue);
}