* {
	margin: 0;
	box-sizing: border-box;
	font-family: Helvetica, sans-serif, system-ui;
}

body {
	line-height: 1.5;

	min-height: 100svh;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;

	gap: 2rem;

	background-color: whitesmoke;
}

#player-text {
	display: flex;

	gap: 1rem;

	font-size: 2rem;
}

#info-board {
	display: flex;
	flex-direction: column;

	align-items: center;

	gap: 1rem;

	height: 6rem;
}

button {
	padding: 8px 32px;
	border-radius: 24px;
	border: none;
	color: white;
	background-color: orange;
	font-size: 1.2rem;
}

button:hover {
	background-color: darkorange;
	color: white;
}

header {
	font-size: 3rem;
	display:flex;
	height: 10rem;
}

header>div {
	margin: auto;
}

footer {
	display: flex;
	height: 5rem;
}

footer>div {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 3rem;
}

footer a {
	text-decoration: none;
}

dialog {
	margin: auto;
	border: none;
	border-radius: 18px;
	padding: 2rem;
	box-shadow: 2px 4px 12px #00000014;
}


dialog::backdrop {
	backdrop-filter: blur(2px);
}

dialog form{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

dialog input[type="text"] {
	height: 2rem;
	border: none;
	border-bottom: 2px solid lightgrey;
	transition: border-bottom .25s ease-in-out;
	outline: none;
	padding: 5px;

	font-size: 1.1rem;
}

dialog input[type="text"]:focus {
	border-bottom: 2px solid orange;
}

dialog button {
	margin-top: 1rem;
}

form p {
	font-size: 1.5rem;
}

